<%= image_tag(@hero.files.first, width: 200, class: 'float-left', style: 'margin-right: 12px;', alt: '') if @hero.files.first %>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @hero.bio %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @hero.birthday %>
</p>

<p>
  <strong>Movies:</strong>
  <%= @hero.movies %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
